<h1>Listing rankings</h1>

<table>
  <tr>
    <th>Assigner</th>
    <th>Ranking</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rankings.each do |ranking| %>
  <tr>
    <td><%= ranking.assigner %></td>
    <td><%= ranking.ranking %></td>
    <td><%= ranking.user %></td>
    <td><%= link_to 'Show', ranking %></td>
    <td><%= link_to 'Edit', edit_ranking_path(ranking) %></td>
    <td><%= link_to 'Destroy', ranking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ranking', new_ranking_path %>
