<p id="notice"><%= notice %></p>

<p>
  <b>Assigner:</b>
  <%= @ranking.assigner %>
</p>

<p>
  <b>Ranking:</b>
  <%= @ranking.ranking %>
</p>

<p>
  <b>User:</b>
  <%= @ranking.user %>
</p>


<%= link_to 'Edit', edit_ranking_path(@ranking) %> |
<%= link_to 'Back', rankings_path %>
